<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
	  <add key="url" value="http://192.168.1.1"/>
	  <add key="username" value="1234" />
	  <add key="password" value="GAxDSHuV" />
	  <add key="filePath" value="../../AskeyDuoEconet\ES_g13.8_RTF_TEF001_V8.12_V026.12_V026"/>
  </appSettings>
</configuration>